name: Python Requirements Management

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  verify-requirements:
    name: Verify Requirements
    uses: DLRSP/workflows/.github/workflows/verify-requirements.yaml@v1.15.28

  upgrade-common:
    name: Upgrade Common Dependencies
    needs: verify-requirements
    uses: DLRSP/workflows/.github/workflows/upgrade-common-dependency.yaml@v1.15.28
    if: github.event_name == 'push' && contains(github.event.head_commit.message, 'dependencies')
    secrets: inherit

  release-requirements:
    name: Release Requirements Updates
    needs: verify-requirements
    uses: DLRSP/workflows/.github/workflows/release-requirements.yaml@v1.15.28
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    secrets: inherit

  merge-pr-requirements:
    name: Merge PR Requirements Updates
    needs: [verify-requirements, release-requirements]
    uses: DLRSP/workflows/.github/workflows/pr-approve-bots.yaml@v1.15.28
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    secrets: inherit
  
  label:
    name: Label PR
    uses: DLRSP/workflows/.github/workflows/labeller-file-based.yaml@v1.15.28
    if: github.event_name == 'pull_request'
    secrets: inherit

  rebase-pr:
    name: Rebase PR on Push
    uses: DLRSP/workflows/.github/workflows/pr-rebase-on-push.yaml@v1.15.28
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    secrets: inherit

  label-merge-conflicts:
    name: Label Merge Conflicts
    uses: DLRSP/workflows/.github/workflows/pr-label-merge-conflicts.yaml@v1.15.28
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    secrets: inherit
